{% extends "base.html" %}

{% block content %}
<div class="bg">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
    <form class="form-signin" method="post" action="{{ url_for('login') }}">
        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus name="username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
{% endblock %}
